Connected Services/DbServiceReference/Service6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DbServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DbServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccCalcQryCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="DtFee" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IntEndCode" type="xs:int" />
      <xs:element minOccurs="0" name="IntFlag" type="xs:int" />
      <xs:element minOccurs="0" name="IntNo" type="xs:int" />
      <xs:element minOccurs="0" name="NvcName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NvcVillage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VcBuilding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VcRoomNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VcUnitNum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccCalcQryCondition" nillable="true" type="tns:AccCalcQryCondition" />
</xs:schema>